<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.min.css">
    <style>
        body{
            height:100%;
            width:100%;
            position: absolute;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div style="text-align: right;padding-right:20px">
            <a type="button" class="btn btn-default navbar-btn" href="/api/logout">登出</a>
        </div>
    </nav>
    <div class="container" style="height: 90%;">
        <div class="row" style="height: 70%;width:100%">
            <div class="col-md-8">
                <h1>开始聒噪吧！</h1>
                <div style="min-height:300px" id="chatarea"></div>
            </div>
            <div class="col-md-4" style="border-left:1px solid #dedede;height:100%">
                <div>小伙伴们</div>
                <div id="userList"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <textarea rows="10" style="width:100%" id="txt"></textarea>
                <div><button class="btn btn-primary" id="button">发送</button></div>
            </div>
        </div>
    </div>
    <script src="/static/jquery.min.js" charset="utf-8" ></script>
    <script src="/static/bootstrap.min.js" charset="UTF-8"></script>
    <script>

        var userList = []

        var chatdom = ''
        $(function () {
            var ws = new WebSocket('ws://192.168.11.188:3000/ws/chat');

            ws.onmessage = function(event) {
                var data = event.data;
                console.log(data);
                var msg = JSON.parse(data)
                if(msg.type==='list'){
                    console.log('msg',msg)
                    var listdom = ''
                    userList=msg.data
                    for(var i in userList){
                        listdom += '<div>'+userList[i]+'</div>'
                    }
                    $('#userList').html(listdom)

                }
                if(msg.type === 'join'){
                    console.log('userlist join',userList)
                    userList.push(msg.user)
                    var listdomJoin =''
                    for(var z in userList){
                        console.log('user',userList[z])
                        listdomJoin += '<div>'+userList[z]+'</div>'
                    }
                    $('#userList').html(listdomJoin)
                }

                if(msg.type === 'left'){
                    //console.log('userlist join',userList)
                    for(var l in userList){
                        if(userList[l]===msg.user){
                            userList.splice(l,1)
                        }
                    }
                    var listdomLeft =''
                    for(var l in userList){
                        listdomLeft += '<div>'+userList[l]+'</div>'
                    }
                    $('#userList').html(listdomLeft)
                }

                if(msg.type === 'chat'){

                    chatdom +='<div>'+msg.user+'说'+msg.data+'</div>'
                    $('#chatarea').html(chatdom)
                }

//                var msg = JSON.parse(data);
//                if (msg.type === 'list') {
//                    vmUserList.users = msg.data;
//                } else if (msg.type === 'join') {
//                    addToUserList(vmUserList.users, msg.user);
//                    addMessage(vmMessageList.messages, msg);
//                } else if (msg.type === 'left') {
//                    removeFromUserList(vmUserList.users, msg.user);
//                    addMessage(vmMessageList.messages, msg);
//                } else if (msg.type === 'chat') {
//                    addMessage(vmMessageList.messages, msg);
//                }
            };

            ws.onclose = function (evt) {
                console.log('[closed] ' + evt.code);
//                var input = $('#form-chat').find('input[type=text]');
//                input.attr('placeholder', 'WebSocket disconnected.');
//                input.attr('disabled', 'disabled');
//                $('#form-chat').find('button').attr('disabled', 'disabled');
            };

            ws.onerror = function (code, msg) {
                console.log('[ERROR] ' + code + ': ' + msg);
            };

            $("#button").click(function () {
                    var msg = $('#txt').val()
                console.log('msg',msg)
                    ws.send(msg)
            })
        })
    </script>
</body>
</html>